body{
        background-color: brown;
}


.sarlavha {
        text-align: center;
        color: white;
        background-color: aqua;
}


.ota {
        background-color: antiquewhite;
        margin-left: 10px
}


.bola {
       background-color: white; 
       width: 300px;
       border-radius: 10px;
       margin-top: 10px;
       text-align: center;
       padding-top: 10px;
       border: 1px solid black;padding-bottom: 10px;
}


.button {
        color: white;
        background-color: black;
        border-radius: 10px;
}